<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAeQXZPTTD-I17i9kz_pxu-oMmnOKO4K8</string>
	<key>GCM_SENDER_ID</key>
	<string>1012562916122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.shopnownow</string>
	<key>PROJECT_ID</key>
	<string>shopnownow-68c3b</string>
	<key>STORAGE_BUCKET</key>
	<string>shopnownow-68c3b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012562916122:ios:72cf3ee785667a62cbf2a3</string>
</dict>
</plist>